body{
  font-family: 'Lexend Deca', sans-serif;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

.attribution a {
    color: hsl(228, 45%, 44%);
  }

.sedans{
    background-color: hsl(31, 77%, 52%);
}

.suvs{
    background-color: hsl(184, 100%, 22%);
}

.luxury{
    background-color: hsl(179, 100%, 13%);
}

.Card{
  /* margin: 250px 50px 250px 250px; */
  place-content: center;
  margin: 200px auto;
  height: 40vh;
  width: 95vh;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  /* gap: 2rem; */
}

.sedans{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.suvs{
  border-radius: 0;
}

.luxury{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


.card-title{
  font-family:  'Big Shoulders Display', cursive;
  color: hsl(0, 0%, 95%);
  padding-top: 20px;
}

.card-text{
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  padding-top: 20px;
}

.btn1{
  background-color: hsl(0, 0%, 95%);
  border: none;
  color: hsl(31, 77%, 52%);
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 40px;
  padding: 10px 15px;
}

.btn2{
  background-color: hsl(0, 0%, 95%);
  border: none;
  color: hsl(184, 100%, 22%);
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 40px;
  padding: 10px 15px;
}

.btn3{
  background-color: hsl(0, 0%, 95%);
  border: none;
  color: hsl(179, 100%, 13%);
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 40px;
  padding: 10px 15px;
}

@media(min-width:500px) and (max-width: 1440px ){
  .Card{
    grid-template-columns: 35vh;
    margin: 450px auto;
    place-content: center;
  }
  
  .sedans{
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
  }

  .luxury{
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
  }
  
}